<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--properties配置，用于加载外部的properties文件-->
    <properties resource="db.properties"></properties>

    <!--environments主要用于数据源的配置
        可以配置不同的数据源 通过default属性来制定当前项目运行使用的是那个数据源
    -->
    <environments default="development">

        <!--environment 用于配置一个具体的独立的数据源
        id 属性用于给当前的数据源定义一个名称，方便项目制定
       -->
        <environment id="development">
            <!--transactionManager 配置事务管理，默认情况下使用的是JDBC事务管理-->

            <transactionManager type="JDBC"/>

            <!--dataSource 具体数据源的链接信息: type属性用于指定是否使用连接池
            -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mydb"/>
                <property name="username" value="root"/>
                <property name="password" value="luoyu123"/>
            </dataSource>
        </environment>

    </environments>

    <!--mappers主要用于配置外部的映射配置文件
        在主配置文件中需要引入加载映射配置文件
    -->
    <mappers>
        <!--mapper主要配置引入某一个具体的映射文件，resource进行路径方式的引入-->
        <mapper resource="mapper/usersMapper.xml"></mapper>
    </mappers>


</configuration>